.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.light {
  background-color: white;
}

.dark {
  background-color: black;
  color: white;
}
