.text {
  display: flex;
  margin: 20px;
}

.textInCart {
  display: flex;

  justify-content: center;
  width: 250px;
}

.itemList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
}
.cart {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.image {
  height: 80px;
  width: 80px;
}

.cartItem {
  border-top: 1px solid rgb(234, 230, 230);
}
