.card {
  display: flex;
  width: 600px;
  height: 200px;
  align-items: center;
  gap: 30px;
}
.image {
  max-width: 95px;
  min-width: 95px;
  height: 130px;
}

.aboutProduct {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dlt_btn {
  color: gray;
  cursor: pointer;
}

.dlt_btn :hover {
  color: rgb(70, 77, 200);
}
