.iconsConteiner {
  display: flex;
  justify-content: center;
  font-size: 22px;
  border-radius: 30px;
  border: 1px;
  background-color: hsl(0, 12%, 94%);
  width: 65px;
  height: 32px;
}

.cart:hover {
  color: #1677ff;
}

.privetArea:hover {
  color: #1677ff;
}

.link {
  color: black;
}
